# Byte-compiled files
__pycache__/
*.py[cod]
*$py.class

# Django-specific files
*.log
db.sqlite3

# Environment files
.env

# Python virtual environment
venv/
*.venv/
env/
*.env/

# IDE/editor specific files
.vscode/
.idea/
*.swp
*.swo

# System-specific files
.DS_Store
Thumbs.db

# Coverage reports
.coverage
coverage.xml
htmlcov/
*.cover

# Testing
.pytest_cache/
.tox/
nosetests.xml
*.pytest_cache/

# Static and media files (if not tracked)
staticfiles/

# snap2txt
project_contents.txt

# Config files with credentials
pa_config.yaml
scripts/config/pa_config.yaml