version: '3'
services:
  web:
    build: .
    ports:
      - "${PORT:-9009}:9009"
    volumes:
      - .:/app
    env_file:
      - .env
    environment:
      - DATABASE_URL=sqlite:////app/db.sqlite3