{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>TeleNote</title>
    <link rel="icon" href="{% static 'favicon.ico' %}" type="image/x-icon">
    <script src="https://cdn.tailwindcss.com"></script>
    <link href="https://fonts.googleapis.com/css2?family=Space+Mono:wght@400;700&display=swap" rel="stylesheet">
    <link href="{% static 'css/styles.css' %}" rel="stylesheet">
    {% block meta %}{% endblock %}
</head>
<body class="bg-white text-black min-h-screen">
    {% block content %}{% endblock %}
    {% block extra_js %}{% endblock %}
</body>
</html>
